{{#modifiers}}{{> comments}}{{/modifiers}}
{{#functions.isDeclarationNode}}
{{#identifier}}{{> literal}}{{/identifier}}{{^modifiers.required}}?{{/modifiers.required}}: {{#type}}{{> type}}{{/type}}
{{/functions.isDeclarationNode}}
