{{#modifiers}}{{> comments}}{{/modifiers}}
{{#functions.removeNewLines}}
protected abstract _{{#identifier}}{{> literal}}{{/identifier}}(
    {{#request.pathParameters}}
    params: {{> type}},
    {{/request.pathParameters}}
    {{#request.queryParameters}}
    query: {{> type}},
    {{/request.queryParameters}}
    {{#request.headerParameters}}
    headers: {{> type}},
    {{/request.headerParameters}}         
    {{#request.body}}
    body: {{> type}},
    {{/request.body}}
): Promise<{{name}}ControllerResponse<{{#responses}}{{> type}}{{/responses}}>>;
{{/functions.removeNewLines}}
{{#hasScopes}}@Scopes({{#scopes}}'{{.}}',{{/scopes}}){{/hasScopes}}
@{{httpMethod}}('{{#functions.formatPath}}{{& path}}{{/functions.formatPath}}')
{{#functions.removeNewLines}}
{{#identifier}}{{> literal}}{{/identifier}}(
    {{#request.pathParameters}}
    @Param() params: {{> type}},
    {{/request.pathParameters}}
    {{#request.queryParameters}}
    @Query() query: {{> type}},
    {{/request.queryParameters}}         
    {{#request.headerParameters}}
    @Headers() headers: {{> type}},
    {{/request.headerParameters}}      
    {{#request.body}}
    @Body() body: {{> type}},
    {{/request.body}} 
): Promise<{{name}}ControllerResponse<{{#responses}}{{> type}}{{/responses}}>> {
    return this._{{#identifier}}{{> literal}}{{/identifier}}(
        {{#request.pathParameters}}
        params,
        {{/request.pathParameters}}
        {{#request.queryParameters}}
        query,
        {{/request.queryParameters}}            
        {{#request.headerParameters}}
        headers,
        {{/request.headerParameters}}          
        {{#request.body}}
        body,
        {{/request.body}}       
    );
}
{{/functions.removeNewLines}}
